				
<div class="change passowrd">

			<h1>Change Password</h1>
		<form method="POST" action="/change-passord">
				<label for="password">Password:</label>   
				<input type="password" name="password">
				<label for="password">New Password:</label> 
				<input type="pasword" name="new_password">
				<input type="submit"> 
		</form>
</div>