
<button id="open">Start Here!</button>

<% if current_user  %>
	
	<a href="/users_profile">Profile Page</a>

<% end %>

<div class="modal-wrapper">
	<div class="modal">
			
		<div class= "form">
			<h1>Sign In</h1>
				<form method="POST" action="/sign-in">   
					<label for="username">Username</label>   
					<input type="text" name="username">   
					<label for="password">Password</label>   
					<input type="password" name="password">   
					<input type="submit"> 
				</form>
		</div>



		<div class="form">
			<h1>Sign Up</h1>
			<form method="POST" action="/sign-up">  
				<label for="fname">First Name:</label>
				<input type="text" name="fname">
				<br>
				<label for="lname">Last Name:</label>
				<input type="text" name="lname">
				<br>
				<label for="username">Username:</label>   
				<input type="text" name="username">
				<br> 
				<label type="email">Email:</label>
				<input for="email" name="email"> 
				<br> 
				<label for="password">Password:</label>   
				<input type="password" name="password">   
				<input type="submit"> 
			</form>
		</div>
		<button id="close">Close</button>
	</div>

</div>
<h2>What the team is talking about!</h2>
<% @posts.each do |p|%> 
	<h4><%= p.title%></h4>
	<p><%= p.body%></p>
	<h5><%= p.user_id%></h5>
	<hr>
<% end %>



