<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="bleachercreatures/public/js/style.js"></script>
	<title>BLEACHER CREATURES</title>
</head>

<body>
	<% if flash[:notice] %>     
		<div class="flash notice">       
			<%=flash[:notice] %>     
		</div>   
	<% end %>   
	<% if flash[:alert] %>     
		<div class="flash alert">       
			<%=flash[:alert] %>     
		</div>   
	<% end %>

	<div id="header">
		<h1>BLEACHER CREATURES
			<% if current_user %>
				<span>- Logged in as <%= current_user.username %>- </span>
			<% end %>
		</h1>
	</div>

	<%=yield %>

  <div id="footer">
  <h6>© 2016 Bleacher Creatures</h6>
  </div>

   
<!-- 		
		<div id="modal">
    		<h4>Welcome to...</h4>
  			<h1>MODAL COMBAT!!!</h1>
  		</div>
  	</div>

  <p><a id="open">Modal</a></p> -->
	
</body>
</html>