<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="js/style.js"></script>
	<title>BLEACHER CREATURES</title>
</head>

<body>
	<% if flash[:notice] %>     
		<div class="flash notice">       
			<%=flash[:notice] %>     
		</div>   
	<% end %>   
	<% if flash[:alert] %>     
		<div class="flash alert">       
			<%=flash[:alert] %>     
		</div>   
	<% end %>

	<div id="header">
		<h1>BLEACHER CREATURES</h1>
	</div>

	
	<class id="left">
		<ul>
		<li><h4>Followers</h4></li>
		<li><h4>Following</h4></li>
		<li><h4>Groups</h4></li>
		</ul>
	</class>

	<class id="middle">
	</class>

	<class id="right">
	</class>

	<div id="shade">
	</class>
  

  <div id="footer">
  <h6>© 2016 Bleacher Creatures</h6>
  </div>

   
		
	<!-- 	<div id="modal">
    		<h4>Welcome to...</h4>
  			<h1>MODAL COMBAT!!!</h1>
  		</div>
  	</div>

  <p><a id="open">Modal</a></p>
<%=yield %>
	
</body>
</html> -->