
<class id="left">

<% if current_user == @user %>
	<h2> Edit Profile</h2>


	

	<a href="/edit"><button>Change Password</button></a>
	<a href="/edit"><button>Delete Button</button>
	</a>

<% end %>
	
	<h2><%= @user.fname + " " + @user.lname %></h2>
	<p><%= @user.username %></p>
	<ul>
		<li><h4>Followers</h4></li>
		<li><h4>Following</h4></li>
		<li><h4>Groups</h4></li>
	</ul>
	
</class>

<class id="middle">
<form method="POST" action="/post">
	<label for="title">Title</label>
	<input type="text"></input>
	<label for="body">What are you thinking?</label>
	<textarea form="body"></textarea>
	<input type="submit">
</form>
</class>

<class id="right">
</class>

<div id="shade">
</class>
