body {
    background-color: #555555;
    margin: auto;
}
/*Header for all pages*/
#header {
		width: 100%;
		height: 75px;
		background-color: #0f1c43;
		color: white;
		padding-left: 20%;
		font-style: bold;
		font-size: 24pt;
}

/*.form{*/
/*#shade {
	background: #555555;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	display: none;
}
#modal{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 500px;
	background: white;
	text-align: center;
}*/

/*button style*/


 /*user layout columns*/
#left{
	width: 30%;
	background-color: #555555;
	float: left;
	font-family: font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	color: white;

}

#middle{
	width: 30%;
	background-color: #555555;
	float: right;
	font-family: font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	color: white;

}

#right{
	width: 30%;
	background-color: #555555;
	float: right;
	font-family: font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	color: white;

}

/*footer for all pages*/
#footer{

	width: 100%;
	height: 25px;
	position: absolute;
  bottom: 0;
  background-color: #0f1c43;
 	color: white;
 	text-align: middle;


}